<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>Results</title>
</head>
<body>
    <h1>Arepas</h1>
    <% data.forEach(function(item, index){ %>
        <ul>
            <li><%= item.ingredient_name %></li>
        </ul>
        <ul>
            <li><%= item.direction_text %></li>
        </ul>
        <% }); %>
</body>
</html>